.testimonial-card{
    box-sizing: content-box;
    padding: 30px;
    margin: 40px 30px;
    box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
    background: #fff;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
    
}

.image-test{
    /* height: 0.5rem; */
    width: 150px;
    /* border: 1px; */
    margin: auto;
   
}

.image-t{
    border-radius: 50%;
    height: 100px;
    /* display: block; */
    /* width: 50; */
    /* margin: auto; */

}

.rating i{
    color: gold;
}

.colr{
    color: black;
}